<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Отлик на вакансию «BackEnd RoR разработчик»</h1>
<p>Комлев Роман<br/>
  Инженер программист, 3 года
</p>
<p>GitHub:</p><i>https://github.com/Roman441/RoR.git</i>
<p>Curriculum Vitae:</p><i>https://krasnoyarsk.hh.ru/resume/bafcf93eff058d25ba0039ed1f5054336c4764</i>
</body>
</html>
