<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Отлик на вакансию «BackEnd RoR разработчик»</h1>
<p>Комлев Роман<br/>
  Инженер программист, 3 года
</p>
<p>GitHub:</p>
<p>Curriculum Vitae:</p>
</body>
</html>